#container {
  display: block;
  margin: auto;
  text-align: center;
  img {
    margin: 20px 0;
    height: 100px;
  }
}
.link {
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
}

.link:hover {
  color: #0056b3;
}
