header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  #logo {
    height: 80px;
  }
}

.active {
  font-weight: bold;
}

@media (max-width: 768px) {
  header #logo {
    height: 40px;
  }
}
