<form #form="ngForm" (ngSubmit)="onSubmit()">
  <h2>{{ contactoEdit.id ? "Editar contacto" : "Nuevo contacto" }}</h2>

  <div class="form-group">
    <label for="name">Nombre</label>
    <input
      type="text"
      [(ngModel)]="contactoEdit.name"
      name="name"
      #name="ngModel"
      required
    />
    <div *ngIf="name.invalid && (name.touched || name.dirty)">
      <p class="error">El nombre es requerido</p>
    </div>
  </div>
  <br />

  <div class="form-group">
    <label for="descripcion">Descripción</label>
    <input
      type="text"
      [(ngModel)]="contactoEdit.description"
      name="descripcion"
      #descripcion="ngModel"
    />
  </div>

  <div *ngFor="let numero of contactoEdit.numbers; let i = index">
    <div class="form-group">
      <label [for]="'numeroType' + i">Tipo de número {{ i + 1 }}</label>
      <select
        [(ngModel)]="contactoEdit.numbers[i].type"
        name="numeroType{{ i }}"
      >
        <option [ngValue]="0">Celular</option>
        <option [ngValue]="1">Fijo</option>
      </select>
    </div>

    <div class="form-group">
      <label [for]="'contactNumber' + i">Número {{ i + 1 }}</label>
      <input
        type="text"
        [(ngModel)]="contactoEdit.numbers[i].contactNumber"
        name="contactNumber{{ i }}"
        #contactNumber="ngModel"
        required
        pattern="^\d+$"
      />
      <div
        *ngIf="
          form.controls['contactNumber' + i].invalid &&
          (form.controls['contactNumber' + i].touched ||
            form.controls['contactNumber' + i].dirty)
        "
      >
        <p class="error">Ingrese un número válido</p>
      </div>
    </div>

    <button class="delete-button" type="button" (click)="eliminarNumero(i)">
      Eliminar Número
    </button>
    <br />
  </div>

  <button class="add-button" type="button" (click)="agregarNumero()">
    Agregar Número
  </button>

  <button class="add-button" type="submit" [disabled]="!isFormValid()">
    {{ contactoEdit.id ? "Editar" : "Añadir Contacto" }}
  </button>
  <span class="close-icon" (click)="onClose()">✖️</span>
</form>
