<div id="contactos-container">
  <h5>Mis contactos</h5>
  <!--   <app-tarjeta-contacto
    *ngFor="let contacto of contactos"
    [contacto]="contacto"
    [routerLink]="[contacto.id]"
  ></app-tarjeta-contacto> -->
</div>

<button class="ver-todos-button" (click)="verTodos()">Ver Todos</button>
<button class="fab" (click)="dialogNuevoContacto.showModal()">+</button>

<dialog method="dialog" #dialogNuevoContacto>
  <app-nuevo-contacto
    (cerrar)="dialogNuevoContacto.close()"
  ></app-nuevo-contacto>
</dialog>
