<div id="main-container">
  <button (click)="openProfileModal()" class="profile-button">Mis Datos</button>
  <app-logout-button></app-logout-button>

  <br />
  <div id="contactos-container">
    <button class="fab" (click)="handleNuevoContacto()">+</button>
    <dialog method="dialog" #dialogNuevoContacto id="dialogNuevoContacto">
      <app-nuevo-contacto
        (cerrar)="dialogNuevoContacto.close()"
        [contacto]="contactoSeleccionado"
        (contactoAgregado)="actualizarLista($event)"
      ></app-nuevo-contacto>
    </dialog>

    <div class="search-container">
      <input
        type="text"
        placeholder="Buscar contacto"
        [(ngModel)]="searchTerm"
        (input)="filterContacts()"
      />
      <i class="fas fa-search"></i>
    </div>
    <br />
    <div class="contactos-grid">
      <app-tarjeta-contacto
        *ngFor="let contacto of filteredContactos"
        [contacto]="contacto"
        (click)="openModal(contacto)"
      ></app-tarjeta-contacto>
    </div>
    <br />
    <div class="modal" *ngIf="showModal">
      <app-contacto-details
        [contacto]="selectedContact"
        (cerrar)="closeModal()"
        (contactoEliminado)="handleContactoEliminado($event)"
        (editar)="handleEditarContacto($event)"
      ></app-contacto-details>
    </div>
  </div>

  <app-user-profile
    *ngIf="showProfileModal"
    [user]="currentUser"
    (saveChanges)="guardarCambios(); closeProfileModal()"
    (closeProfileModal)="closeProfileModal()"
  ></app-user-profile>
</div>
