<div id="main-container">
  <button (click)="openProfileModal()" class="profile-button">Mis Datos</button>
  <app-logout-button></app-logout-button>

  <br />
  <div id="contactos-container">
    <button class="fab" (click)="handleNuevoContacto()">+</button>
    <dialog method="dialog" #dialogNuevoContacto id="dialogNuevoContacto">
      <app-nuevo-contacto
        (cerrar)="dialogNuevoContacto.close()"
        [contacto]="contactoSeleccionado"
        (contactoAgregado)="actualizarLista($event)"
        (contactoEditado)="actualizarContacto($event)"
      ></app-nuevo-contacto>
    </dialog>

    <div class="search-container">
      <input
        type="text"
        placeholder="Buscar contacto"
        [(ngModel)]="searchTerm"
        (input)="filterContacts()"
      />
      <i class="fas fa-search"></i>
    </div>
    <br />

    <ng-container *ngIf="contactos.length === 0; else contactList">
      <p class="sin-contactos">Todavía no tienes contactos agendados.</p>
    </ng-container>

    <ng-template #contactList>
      <ng-container *ngIf="filteredContactos.length > 0; else noSearchResults">
        <div class="contactos-grid">
          <app-tarjeta-contacto
            *ngFor="let contacto of filteredContactos"
            [contacto]="contacto"
            (click)="openModal(contacto)"
          ></app-tarjeta-contacto>
        </div>
      </ng-container>
    </ng-template>

    <ng-template #noSearchResults>
      <p class="sin-contactos">
        No se encontraron contactos que coincidan con tu búsqueda.
      </p>
    </ng-template>

    <br />
    <div class="modal" *ngIf="showModal">
      <app-contacto-details
        [contacto]="selectedContact"
        (cerrar)="closeModal()"
        (contactoEliminado)="handleContactoEliminado($event)"
        (editar)="handleEditarContacto($event)"
      ></app-contacto-details>
    </div>
  </div>

  <app-user-profile
    *ngIf="showProfileModal"
    [user]="currentUser"
    (saveChanges)="guardarCambios(); closeProfileModal()"
    (closeProfileModal)="closeProfileModal()"
  ></app-user-profile>
</div>
