#main-container {
  display: flex;
  height: 100vh;
}

#contactos-container {
  padding: 20px;
  flex: 1;
  position: relative;
  margin-top: 30px;
}

.contactos-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

app-tarjeta-contacto {
  flex: 1 1 calc(12.5% - 10px); /* Para que cada card ocupe un 12.5% del contenedor (100% / 8) menos el espacio del gap */
  max-width: calc(12.5% - 10px);
  box-sizing: border-box; /* Asegura que el padding y el border estén incluidos en el ancho y alto */
}

/* Puedes agregar un media query para ajustar el número de cards por fila en pantallas más pequeñas */
@media (max-width: 1200px) {
  app-tarjeta-contacto {
    flex: 1 1 calc(16.66% - 10px); /* 6 cards por fila en pantallas medianas */
    max-width: calc(16.66% - 10px);
  }
}

.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.fab:hover {
  background-color: #0056b3;
}

.profile-button {
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

dialog {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 25%;
}

.search-container input {
  width: 100%;
  padding-left: 40px;
  padding-right: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  height: 40px;
  box-sizing: border-box;
}

.search-container .fas {
  position: absolute;
  left: 10px;
  color: #aaa;
}

.sin-contactos {
  text-align: center;
  font-size: 30px;
}
