.tarjeta-contacto {
  width: 100px;
  height: 100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border: 1px solid #007bff;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.tarjeta-contacto:hover {
  background-color: #d0d0d0;
}

.tarjeta-contacto i {
  font-size: 36px; /* Tamaño del ícono */
  margin-bottom: 10px; /* Espacio entre el ícono y el nombre */
}

.tarjeta-contacto p {
  margin: 0; /* Elimina el margen para evitar espacio extra */
  text-align: center;
}

@media (max-width: 768px) {
  .tarjeta-contacto {
    width: 100%;
    height: auto;
  }
}

.fas.fa-user {
  color: #007bff;
}
