<div id="container">
  <div class="form-container">
    <h1>Iniciar sesión</h1>
    <p>Ingresá las credenciales para acceder a tus contactos.</p>
    <!-- #loginForm="ngForm", directiva para acceder a funcionalidades de formulario  -->
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <div class="form-group">
        <input
          type="text"
          name="user"
          id="user"
          [(ngModel)]="loginData.userName"
          #user="ngModel"
          placeholder="Usuario"
          autocomplete="username"
          required
        />
        <p *ngIf="user.invalid && (user.dirty || user.touched)" class="error">
          Este campo es requerido
        </p>
        <br />
        <br />
        <div class="password-container">
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            name="password"
            id="password"
            placeholder="Contraseña"
            autocomplete="current-password"
            required
            minlength="3"
            [(ngModel)]="loginData.password"
            #password="ngModel"
          />
          <i
            class="fas"
            [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'"
            (click)="togglePasswordVisibility()"
          >
          </i>
        </div>
      </div>
      <button type="submit" [disabled]="loginForm.invalid">
        Iniciar sesión
      </button>
      <img
        class="spinner"
        src="./../../../assets/img/icons/Rolling.svg"
        alt="cargando"
        *ngIf="cargando()"
      />
      <p *ngIf="errorLogin()" class="error">Error al iniciar sesión</p>
    </form>
    <p>
      ¿Todavía no tenés una cuenta? -
      <a [routerLink]="['/register']" routerLinkActive="router-link-active"
        >Registrate</a
      >
    </p>
  </div>
</div>
